  <div class="form-signin w-25 mt-10 mx-auto">
    <h1 class="h3 mb-3 fw-normal w-100 text-center">Please signin</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: ''}) do |f| %>
      <div class="form-floating">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control rounded-top', placeholder: "name@example.com", type: 'email' %>
        <%= f.label :email, for: 'floatingInput', class: 'text-center' %>
      </div>

      <div class="form-floating">
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control rounded-bottom mb-3', placeholder: "Password", type: 'password' %>
        <%= f.label :password, for: 'floatingInput', class: 'text-center' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="w-100 text-center checkbox mb-3">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions w-100 mb-3">
        <%= f.submit "Sign In", class: 'w-100 btn btn-lg btn-primary' %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
